html{
    background-color: rgb(142, 164, 226);
}

.menu {
    background-color:#ffdb58 ;
    padding: 20px;
    margin:10px
}
.botoes-menu {
    font-size: 25px;
    font-style: solid;
}

.titulo{
    color: rgb(0, 58, 82);
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: rgb(127, 231, 196);
    padding: 20px;
    margin:10px
}

.imgs{
    padding: 20px;
    margin:10px
}